body {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    font-family: 'Cascadia Code', sans-serif;
    background-color: rgb(27, 27, 27);
    color: white;
}
h1 {
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #e440d3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: space-between;
    display: flex;
  }
  
li {
    float: left;
    margin: auto;
    width: 25%;
}
  
li a {
    display: inline-block;
}